@model BeeMVC.Models.Register

@{
    ViewData["title"] = "Register";
}
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body style="background-color:#6a11cb">
    <section class="vh-100 gradient-custom">
        <div class="container py-1 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem; height:42rem;">
                        <div class="card-body p-4 text-center">

                           

                                <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                                <p class="text-white-50 mb-3">Please Fill All Details!</p>
                                <form asp-action="Register" method="post">

                                    <div data-mdb-input-init class="form-outline form-white mb-3">
                                        <label class="form-label" asp-for="UserName">UserName</label>
                                        <input type="text" id="typeEmailX" class="form-control form-control-lg" asp-for="UserName" />
                                    </div>

                                    <div data-mdb-input-init class="form-outline form-white mb-3">
                                        <label class="form-label" asp-for="Email">Email</label>
                                        <input type="email" id="typeEmailX" class="form-control form-control-lg" asp-for="Email" />
                                    </div>

                                    <div data-mdb-input-init class="form-outline form-white mb-3">
                                        <label class="form-label" asp-for="Password">Password</label>
                                        <input type="password" id="typePasswordX" class="form-control form-control-lg" asp-for="Password" />
                                    </div>

                                    <div data-mdb-input-init class="form-outline form-white mb-3">
                                        <label class="form-label" asp-for="ConfirmPassword">Confirm Password</label>
                                        <input type="password" id="typeEmailX" class="form-control form-control-lg" asp-for="ConfirmPassword" />
                                    </div>

                                    <div data-mdb-input-init class="form-outline form-white mb-3">
                                        <label class="form-label" asp-for="PhoneNumber">Mobile Number</label>
                                        <input type="text" id="typeEmailX" class="form-control form-control-lg" asp-for="PhoneNumber" />
                                    </div>

                                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-4" type="submit">Register</button>
                                </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
